/* Palette

  Whitish: #F4F8F6;
  Teal: #7F85A0;
  Orange: #FCBE2D;
  Redish: #B33C52;
  Dark Blue: #024;

*/


$winter-background: #024;
$spring-background: #42d2d2;
$summer-background: #69d2e7;
$fall-background: #599ed9;


//leaves

//Burnt orange    : C33C13;
//Red             : B91216;
//Brown           : AC5F19;
//Dijon Mustard   : C38A13;
//Olive           : 927E12;
