/* Slider
********************/

.container {
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  position: relative;
  overflow-x: hidden;
}

.slide {
  width: 100%;
  height: 100vh;
  display: block;
  position: fixed;
}

.slide-1 {
  background-color: #024;  /*dark blue*/
}

.slide-2 {
  background-color: #42d2d2; /*orange*/
}

.slide-3 {
  background-color: #69d2e7; /* whitish */
}

.slide-4 {
  background-color: #599ed9; /*teal*/
}

.slide-out {
  animation: slow-slide-out 1.5s;
}

.current-slide {
  z-index: 10;
}

.hidden-slide {
  z-index: 5;
  transform: translateX(0);
}

.next-slide {
  z-index: 8;
}

.prev-slide {
  z-index: 7;
}

.button-row {
  display: block;
  position: absolute;
  top: calc(50% - 70px);
  right: 0;
  text-align: center;
  transform: translateX(73px);
  transition: transform .35s;
  z-index: 100;
}

.button-wrapper {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: left;
}

.button-title {
  color: #fff;
  vertical-align: top;
  margin-right: 15px;
  pointer-events: none;
}

.buttons {
  // border: 1px solid white;
  border: none;
  right: 0;
  // display: block;
  width: 5px;
  height: 25px;
  position: absolute;
  padding: 0;
  // margin: 0 6px;
  background-color: rgba(255, 255, 255, .5);
  transition: background-color .35s;
  // border-radius: 50%;
}

.button-wrapper:hover > .buttons {
  background-color: rgba(255, 255, 255, 1);
}

.buttons:active,
.buttons:focus {
  outline: none;
}

.button-filled {
  background-color: rgba(255, 255, 255, 1);
}

.slide-trigger {
  cursor: pointer;
}

.prev,
.next {
  display: none;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}

.search__box {
  width: 300px;
  position: absolute;
  top: 20px;
  left: calc(50% - 150px);
  z-index: 100;
}

.search__input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 20px;
  padding: 4px 25px 4px 0;
  transition: border-bottom .35s;
}

.search__input:focus,
.search__input:active {
  outline: none;
  border-bottom: 3px solid #fff;
}

.search__icon {
  background: url('~/assets/images/search.svg') no-repeat;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: 0 0;
  background-size: 20px;
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
  z-index: 100;
}

.cloud::before {
  background: url('~/assets/images/cloud.svg') no-repeat;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.menu__button:hover .cloud::before {
  animation: cloud-shimmy .5s;
}

.leaf-menu::before {
  background: url('~/assets/images/new-leaf.svg') no-repeat;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.menu__button:hover .leaf-menu::before {
  animation: cloud-shimmy .5s;
}

.sun::before {
  background: url('~/assets/images/sunny.svg') no-repeat;
  -webkit-transform: rotate(18deg);
  transform: rotate(18deg);
}
